<div id="footer">
	<div class="container text-center">
		<a class="totop" href="#"  onclick="scrollToTop();return false"> <i class="fa fa-angle-up fa-2x"></i></a>
		<div class="footer">
			<ul class="list-inline footer-nav hidden-xs" >
				<li class="current"><a href="#">HOME</a></li>
	            <li><a href="#">事業案内</a></li>
	            <li><a href="#">企業情報</a></li>
	            <li><a href="#">採用情報</a></li>
	            <li><a href="#">お問い合わせ</a></li>
			</ul>
			<p class="copyright">Copyright © 2016- 株式会社エムスクエアスィンクス All Rights Reserved.</p>
		</div>
	</div>
</div>
    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 

    <script>

        
        var timeOut;
function scrollToTop() {
  if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
    window.scrollBy(0,-50);
    timeOut=setTimeout('scrollToTop()',10);
  }
  else clearTimeout(timeOut);
}
        
    </script>
  </body>
</html>
